body {
  background-color: whitesmoke;
}
input{
  width: 50%;
  height: 45px;
  padding: 0 20px;
  font-size: 16px;
}

button{
  width: 50%;
  height: 45px;
}

.error{
  color: red;
  font-size: 16px;
}


code, pre {
  margin-top: 60px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
